.scale-container {
  padding: 10px;
  background-color: #000; /* Fondo negro */
  color: #fff; /* Texto blanco */
}

.scale-content {
  display: flex;
  flex-direction: column;
}

.scale-section {
  flex: 1;
}

.scale-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #fff; /* Texto blanco */
}

.scale-item {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.level {
  font-weight: bold;
}

.advice {
  font-size: 0.9em;
}

.image-section {
  flex: 1;
  margin-top: 20px;
}

.image-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.blog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.blog-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.blog-text {
  margin-top: 10px;
  text-align: center;
}

.more-info {
  margin-top: 20px;
}

.more-info-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.tips-section {
  display: flex;
  flex-direction: column;
}

.tip-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tip-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.tip-text {
  font-size: 0.9em;
}

.social-media-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icon {
  color: #fff; /* Iconos blancos */
  font-size: 1.8em;
  margin: 0 15px;
}
