.scale-container {
  width: 90%;
  margin: 20px auto;
  color: #fff; /* Texto blanco */
}

.scale-title, .image-title, .tips-title, .more-info-title {
  color: #ff0; /* Color amarillo para título */
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #ff0; /* Línea debajo del título */
  display: inline-block;
  padding-bottom: 10px;
}

.scale-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.scale-section {
  flex: 1;
  margin-right: 20px;
}

.image-section {
  flex: 1;
  margin-left: 20px;
}

.scale-item {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.scale-item:hover {
  transform: scale(1.05); /* Escala al pasar el mouse */
}

.level {
  font-weight: bold;
  font-size: 16px;
}

.advice {
  font-size: 14px;
  margin-top: 5px;
}

.tip-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #333; /* Fondo oscuro para tips */
  transition: transform 0.3s ease; /* Efecto hover */
}

.tip-item:hover {
  transform: scale(1.05); /* Escala al pasar el mouse */
}

.tip-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.tip-text {
  color: #fff;
  font-size: 14px;
}
.more-info-title {
  margin-top: 0px;
  background-color: #000000; /* Fondo blanco para más información */
  color:#ff0; /* Texto negro */
  padding: 5px;
}

.more-info {
  margin-top: 20px;
  background-color: #000000; /* Fondo blanco para más información */
  color: #ffffff; /* Texto negro */
  padding: 20px;
  border-radius: 10px;
}

.blog-section {
  display: flex;
  justify-content: space-between;
}

.blog-item {
  flex: 1;
  margin: 10px;
  background-color: #f0f0f0; /* Fondo claro para los elementos del blog */
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease; /* Efecto hover */
}

.blog-item:hover {
  transform: scale(1.05); /* Escala al pasar el mouse */
}

.blog-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.blog-text {
  color: #000;
  font-size: 14px;
}

.social-media-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icon {
  color: #fff;
  font-size: 2em;
  margin: 0 15px;
}
