/* Estilos para el contenedor principal */
.home-container {
  background-color: #9fcde6;
  color: #000000;
  padding: 10px;
  max-width: 3000px; /* Ajusta el ancho máximo según sea necesario */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}
/* Estilos para el contenido principal */
.content {
  display: flex; /* Uso de flexbox para organizar el contenido */
  justify-content: space-between; /* Espacio entre elementos */
}

/* Estilos para los lados izquierdo y derecho */
.left-side, .right-side {
  margin: 10px; /* Márgenes externos */
}


.left-side {
  flex: 2; /* Flexibilidad para ocupar 2 partes */
  margin-right: 20px; /* Margen a la derecha */
  display: flex; /* Uso de flexbox */
  flex-direction: column; /* Direccionamiento vertical */
  justify-content: space-between; /* Espacio entre elementos */
}

.right-side {
  flex: 3; /* Flexibilidad para ocupar 3 partes */
  display: flex; /* Uso de flexbox */
  flex-direction: column; /* Direccionamiento vertical */
  justify-content: flex-start; /* Alineación al inicio */
}

/* Estilos para el contenedor del título */
.title-container {
  display: flex; /* Uso de flexbox */
  align-items: center; /* Alineación centrada verticalmente */
  justify-content: center; /* Alineación centrada horizontalmente */
  margin-bottom: 10px; /* Margen inferior */
}

/* Estilos para el título de la ciudad */
.city-title {
  font-size: 3.5em; /* Tamaño de fuente más grande */
  color: #000000; /* Texto negro */
  font-weight: 300; /* Peso de fuente */
  margin-left: 10px; /* Margen a la izquierda */
}

/* Estilos para el icono de la ubicación */
.location-icon {
  height: 70px; /* Altura de la imagen aumentada */
}

/* Estilos para el título de la calidad del aire */
.air-quality-title {
  text-align: center; /* Texto centrado */
  font-size: 2.2em; /* Tamaño de fuente más grande */
  margin-bottom: 15px; /* Margen inferior */
  color: #000000; /* Texto negro */
}

/* Estilos para la descripción */
.description {
  font-size: 1.2em; /* Tamaño de fuente aumentado */
  margin-bottom: 20px; /* Margen inferior */
}

/* Estilos para el contenedor del mapa */
.map-container {
  width: 100%; /* Hace que el contenedor ocupe el ancho completo del elemento padre */
  max-width: 800px; /* Limita el ancho máximo para evitar que se expanda demasiado en pantallas grandes */
  margin: 0 auto; /* Centra el contenedor */
}

.map-iframe {
  width: 100%; /* Hace que el iframe ocupe el ancho del contenedor */
  height: 500px; /* Establece una altura fija */
}

/* Estilos para la información de la ciudad */
.city-info {
  font-size: 1.1em; /* Tamaño de fuente aumentado */
  margin-bottom: 20px; /* Margen inferior */
}

/* Estilos para el enlace de preguntas frecuentes */
.faq {
  font-size: 1.2em; /* Tamaño de fuente aumentado */
  color: #000; /* Texto negro */
  text-align: center; /* Texto centrado */
}

/* Estilos para el contenedor de tarjetas de información */
.info-cards-container {
  display: flex; /* Uso de flexbox */
  justify-content: space-between; /* Espacio entre elementos */
  margin-bottom: 10px; /* Reducir el margen inferior */
}

/* Estilos para el contenedor de cada tarjeta de información */
.info-card-container {
  flex: 1; /* Flexibilidad para ocupar espacio */
  margin: 0 10px; /* Márgenes laterales */
  text-align: center; /* Texto centrado */
}

/* Estilos para cada tarjeta de información */
.info-card {
  background-color: #ff0; /* Fondo amarillo */
  color: #000; /* Texto negro */
  padding: 15px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
}

/* Estilos para la tarjeta de PM2.5 */
.pm25-card {
  background-color: inherit; /* Permitir cambio de color dinámico */
}

/* Estilos para el encabezado de cada tarjeta de información */
.info-card h3 {
  margin-bottom: 10px; /* Margen inferior */
  font-size: 1.2em; /* Tamaño de fuente */
  border-bottom: 2px solid #111111; /* Borde inferior */
  display: inline-block; /* Bloque en línea */
  padding-bottom: 5px; /* Espaciado interno inferior */
}

/* Estilos para el texto de cada tarjeta de información */
.info-card p {
  font-size: 1.4em; /* Tamaño de fuente */
  margin: 0; /* Sin margen */
}

/* Estilos para el contenedor de información de gráficos */
.chart-info-container {
  display: flex; /* Uso de flexbox */
  justify-content: space-between; /* Espacio entre elementos */
  align-items: flex-start; /* Alineación al inicio */
  margin-top: 0px; /* Reducir el margen superior */
}

/* Estilos para el contenedor del título del gráfico */
.chart-title-container, .date-picker-container {
  flex: 1; /* Flexibilidad para ocupar espacio */
  display: flex; /* Uso de flexbox */
  flex-direction: column; /* Direccionamiento vertical */
  align-items: center; /* Alineación centrada */
  margin: 0 10px; /* Márgenes laterales */
}

/* Estilos para el título del gráfico */
.chart-title {
  text-align: center; /* Texto centrado */
  margin-bottom: 10px; /* Margen inferior */
  color: #000000; /* Texto negro */
}

/* Estilos para el contenedor del gráfico */
.chart-container {
  width: 100%; /* Ancho completo */
  background-color: #ffffff; /* Fondo blanco */
  padding: 15px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  margin-bottom: 10px; /* Margen inferior */
}

/* Estilos para el contenedor grande del gráfico */
.chart-container-large {
  width: 95%; /* Ancho completo */
  background-color: #ffffff; /* Fondo blanco */
  padding: 15px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  margin-bottom: 10px; /* Margen inferior */
}

/* Estilos para el contenedor del gráfico y la escala */
.chart-and-scale-container {
  display: contents;
  justify-content: space-between;
  margin-top: 220px;
}

/* Estilos para el contenedor del gráfico */
.chart-container {
  background-color: #ffffff;
  width: auto; /* Tamaño ajustado */
  margin-right: auto; /* Margen derecho */
  margin-left: auto;
}

/* Estilos para el contenedor de la escala */
.scale-container {
  width: 40%; /* Tamaño ajustado */
  background-color: #ffffff; /* Fondo blanco */
  color: #000000; /* Texto negro */
  padding: 15px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para el título de la escala */
.scale-title {
  color: #000000; /* Título en negro */
  text-align: center; /* Texto centrado */
  margin-bottom: 10px; /* Margen inferior */
}

/* Estilos para cada elemento de la escala */
.scale-item {
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  margin-bottom: 10px; /* Margen inferior */
}

/* Colores personalizados para la escala */
.scale-item.bueno {
  background-color: #a8e6cf; /* Verde claro */
  color: #000;
}

.scale-item.moderado {
  background-color: #ffecb3; /* Amarillo claro */
  color: #000;
}

.scale-item.no-saludable-grupos {
  background-color: #ffab91; /* Naranja claro */
  color: #000;
}

.scale-item.no-saludable {
  background-color: #ff8a80; /* Rojo claro */
  color: #fff;
}

.scale-item.muy-insalubre {
  background-color: #ce93d8; /* Púrpura claro */
  color: #fff;
}

.scale-item.peligroso {
  background-color: #d50000; /* Rojo oscuro */
  color: #fff;
}

/* Estilos para el texto de cada elemento de la escala */
.scale-item p {
  margin: 0; /* Sin margen */
}

/* Estilos para el contenedor del selector de fecha */
.date-picker-container {
  margin-top: 40px; /* Reducir el margen superior */
  width: 100%;
  max-width: 600px; /* Ancho máximo */
}
.forecast-day {
  display: flex; /* Usamos flexbox para alinear los botones en fila */
  justify-content: center; /* Centra los botones horizontalmente */
  gap: 15px; /* Espacio entre los botones */
  margin-top: 40px; /* Espacio superior si lo necesitas */
}

.forecast-button {
  background-color: #ffeb3b; /* Amarillo */
  color: #000; /* Texto en negro para contraste */
  border: 2px solid #ffeb3b; /* Borde del botón en amarillo */
  border-radius: 5px; /* Esquinas redondeadas */
  padding: 10px 20px; /* Espaciado interno del botón */
  cursor: pointer; /* Cambia el cursor a mano al pasar sobre el botón */
  transition: background-color 0.3s, color 0.3s; /* Transiciones suaves para hover */
}

.forecast-button:hover {
  background-color: #fbc02d; /* Amarillo más oscuro en hover */
  color: #fff; /* Texto blanco en hover */
}



/* Estilos para el modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 10px;
  padding: 30px;
  max-width: 70%; /* Ajuste del ancho máximo */
  max-height: 90%;
  overflow-y: auto;
  box-shadow: 0 5px 15px rgba(54, 53, 53, 0.5); /* Sombra */
  color: #000; /* Texto negro */
}

/* Estilos para la superposición del modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(50, 48, 48, 0.7);
}

/* Estilos para la información adicional */
.additional-info {
  margin-top: 40px;
  padding: 20px;
  background-color: #ffffff; /* Fondo blanco */
  color: #000000; /* Texto negro */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para el título de la información adicional */
.additional-info-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #333333; /* Color del texto */
}

/* Estilos para el contenido de la información adicional */
.additional-info-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Estilos para cada ítem de la información adicional */
.additional-info-item {
  background-color: #f9f9f9; /* Fondo gris claro */
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  flex: 1 1 45%;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición para el hover */
}

.additional-info-item:hover {
  transform: translateY(-5px); /* Efecto de elevar */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); /* Sombra al elevar */
}

/* Estilos para el título de cada ítem */
.additional-info-item h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #111111; /* Color del texto */
  border-bottom: 2px solid #ddd; /* Línea inferior */
  padding-bottom: 10px; /* Espaciado inferior */
}

/* Estilos para el texto de cada ítem */
.additional-info-item p {
  font-size: 1.1em;
  color: #555555; /* Color del texto */
}












/* Estilos para la sección de blog */
.blog-section {
  margin-top: 40px;
  color: #fff;
}

/* Estilos para el título del blog */
.blog-title {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 20px;
}

/* Estilos para las publicaciones del blog */
.blog-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Estilos para cada publicación del blog */
.blog-post {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  flex: 1 1 30%;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

/* Estilos para la imagen del blog */
.blog-image {
  width: 100%;
  height: auto;
}

/* Estilos para el contenido del blog */
.blog-content {
  padding: 15px;
}

/* Estilos para el título de cada publicación del blog */
.blog-post-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* Estilos para el contenido de cada publicación del blog */
.blog-post-content {
  font-size: 1em;
}

/* Estilos para los botones */
button {
  background-color: #ff0;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* Estilos personalizados para el calendario */
.custom-calendar {
  width: 100%;
  max-width: 600px; /* Ancho máximo */
  background-color: #fff; /* Fondo blanco */
  border: 1px solid #ddd; /* Borde gris claro */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  padding: 20px; /* Espaciado interno */
  margin-top: 20px; /* Margen superior */
}
/* Estilos para el contenedor de los botones */
.year-buttons {
  display: flex; /* Usa flexbox para alinear los botones */
  gap: 10px; /* Espacio entre los botones */
  justify-content: center; /* Centra los botones horizontalmente */
  margin-top: 20px; /* Margen superior */
}

/* Estilos para los botones */
.year-buttons button {
  background-color: #ff0; /* Fondo amarillo */
  color: #000; /* Texto negro */
  border: 2px solid #000; /* Borde negro */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado interno */
  cursor: pointer; /* Cursor de mano */
  transition: background-color 0.3s, color 0.3s; /* Transición suave para el hover */
}
/* Efecto hover para los botones */
.year-buttons button:hover {
  background-color: #48cad6; /* Fondo verde */
  color: #000000; /* Texto blanco */
}

.download-excel-container {
  margin-top: 20px; /* Espacio encima del contenedor del botón */
}

.download-excel-button {
  background-color: #ff0;
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 0 auto; /* Centra el botón dentro del contenedor */
  display: inline-block; /* Asegura que el botón no se expanda */
}

.download-excel-button:hover {
  background-color: #48cad6; /* Fondo verde */
  color: #000000; /* Texto blanco */
}

/* Estilos para los días del calendario */
.react-calendar__tile {
  text-align: center; /* Texto centrado */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición para hover */
}

/* Estilos para los días seleccionados del calendario */
.react-calendar__tile--active {
  background-color: #006adc; /* Fondo azul */
  color: #fff; /* Texto blanco */
}

/* Estilos para los días del calendario en hover */
.react-calendar__tile:hover {
  background-color: #f0f0f0; /* Fondo gris claro */
}
.Prueba{
  border: 2px solid #000; /* Borde de 2px, sólido, color negro */
border-radius: 40px; /* Bordes redondeados */
padding: 10px; /* Espaciado interno */
margin: 10px; /* Espaciado externo */
border: 3px solid black; /* Es el bordo del cuadro */
box-shadow: 0 4px 8px rgb(10, 26, 27); /* es como la sobra del cuadro  */
background-color: white;
}
.Prueba2{
  border: 2px solid #000; /* Borde de 2px, sólido, color negro */
border-radius: 40px; /* Bordes redondeados */
padding: 10px; /* Espaciado interno */
margin: 10px; /* Espaciado externo */
border: 3px solid black; /* Es el bordo del cuadro */
box-shadow: 0 4px 8px rgb(10, 26, 27); /* es como la sobra del cuadro  */
background-color: white;
}
.Prueba3 {
  border: 3px solid black;
  border-radius: 40px;
  padding: 30px;
  margin: 10px;
  box-shadow: 0 4px 8px rgb(10, 26, 27);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; /* Por defecto, los elementos están en fila */
  width: 100%; /* Ocupa el 100% del ancho del contenedor */
  box-sizing: border-box;
}
button:hover {
  background-color: #48cad6; /* Fondo verde */
  color: #000000; /* Texto blanco en hover */
}
img {
  max-width: 100%;
  height: auto;
}

.Prueba3 {
  box-sizing: border-box;
}

/* Estilos dentro de la media query para teléfonos */
@media (max-width: 768px) {
  .Prueba3 {
    flex-direction: column; /* Cambia la dirección de los elementos a columna en pantallas pequeñas */
    padding: 15px; /* Ajusta el padding para pantallas pequeñas */
    text-align: center; /* Centra el texto y el contenido */
    width: 100%; /* Asegura que el div ocupa el 100% del ancho del contenedor */
  }

  .Prueba3 > * {
    margin: 10px 0; /* Espacio vertical entre los elementos */
  }

  .Prueba3 img {
    max-width: 100%; /* Asegura que las imágenes no se desborden del contenedor */
    height: auto; /* Mantiene la proporción de las imágenes */
    display: block; /* Evita el espacio debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
  }
  
  .additional-info-item {
    overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor */
    text-align: center; /* Centra el texto para que se vea mejor en dispositivos pequeños */
    margin: 10px 0; /* Espacio vertical entre los ítems */
  }

  .additional-info-image {
    max-width: 100%; /* Asegura que la imagen no se extienda más allá del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Evita el espacio debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
  }
}