.pronostico-container {
  background-color: #fcfcfc; /* Fondo blanco */
  color: #000000; /* Texto negro */
  padding: 10px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
  max-width: 600px; /* Ancho máximo */
  margin: 0 auto; /* Centrado */
  text-align: center; /* Texto centrado */
}

.pronostico-container h2 {
  margin-bottom: 5px; /* Reducir margen inferior */
  font-size: 1.5em;
  color: #000000; /* Texto negro */
}

.pm25-info {
  margin-bottom: 10px; /* Reducir margen inferior */
  padding: 10px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
}

.contingencia {
  margin-top: 10px; /* Reducir margen superior */
}

.chart-container {
  width: 100%; /* Ancho completo */
  margin-top: 20px; /* Margen superior */
}

button {
  background-color: #ff0; /* Fondo amarillo */
  color: #000; /* Texto negro */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cursor de mano */
  margin-top: 10px; /* Margen superior */
  font-size: 1em; /* Tamaño de fuente */
}
