.pronostico-container {
  background-color: #000; /* Fondo negro */
  color: #fff; /* Texto blanco */
  padding: 10px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
  max-width: 600px; /* Ancho máximo */
  margin: 0 auto; /* Centrado */
  text-align: center; /* Texto centrado */
}

.pronostico-container h2 {
  margin-bottom: 5px; /* Reducir margen inferior */
  font-size: 1.5em;
  color: #fff; /* Texto blanco */
}

.pronostico-fecha {
  margin-bottom: 10px; /* Reducir margen inferior */
  font-size: 1em;
}

.pronostico-chart-container {
  margin-bottom: 10px; /* Reducir margen inferior */
  background-color: #fff; /* Fondo blanco para la gráfica */
  padding: 10px; /* Reducir espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
}

.pronostico-info {
  display: flex;
  justify-content: space-between; /* Espacio entre tarjetas */
  margin-bottom: 10px; /* Reducir margen inferior */
}

.pronostico-info-card {
  background-color: #333; /* Fondo gris oscuro */
  padding: 10px; /* Reducir espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  flex: 1; /* Flexibilidad para ocupar espacio */
  margin: 0 5px; /* Reducir márgenes laterales */
  text-align: left; /* Texto alineado a la izquierda */
}

.pronostico-aqi-container {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px; /* Reducir margen inferior */
  color: #000; /* Texto negro */
}

.pronostico-aqi-container p {
  margin: 0;
  font-size: 1em; /* Reducir tamaño de fuente */
  color: #000; /* Texto negro */
}

.pronostico-consejos {
  color: #fff; /* Texto blanco */
}

.pronostico-consejos h3 {
  margin-bottom: 5px; /* Reducir margen inferior */
  font-size: 1em; /* Reducir tamaño de fuente */
}

.pronostico-consejos ul {
  list-style-type: none; /* Sin viñetas */
  padding: 0; /* Sin relleno */
}

.pronostico-consejos ul li {
  margin-bottom: 5px; /* Reducir margen inferior */
  font-size: 0.9em; /* Reducir tamaño de fuente */
}

.pronostico-boton {
  background-color: #ff0; /* Fondo amarillo */
  color: #000; /* Texto negro */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cursor de mano */
  margin-top: 10px; /* Reducir margen superior */
  font-size: 1em; /* Reducir tamaño de fuente */
}
