body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #9fcde6; /* Fondo azul */
  color: #ffffff; /* Texto negro */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #000; /* Fondo negro */
  border-bottom: 2px solid #fff; /* Línea divisoria blanca */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}

.logo-text span:first-child {
  font-weight: bold;
}

.nav {
  display: flex;
}

.nav-link {
  color: #fff; /* Texto blanco */
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.2em;
  position: relative;
}

.nav-link:hover {
  color: #ff0; /* Texto amarillo en hover */
}

.nav-link.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ff0; /* Línea amarilla */
  bottom: -5px;
  left: 0;
}

.main-content {
  padding: 20px;
}

.home-container {
  background-color: #9fcde6; /* Fondo azul */
  color: #000; /* Texto negro */
  padding: 20px; /* Espaciado interno */
}

.content {
  display: flex; /* Uso de flexbox para organizar el contenido */
  justify-content: space-between; /* Espacio entre elementos */
}

.left-side, .right-side {
  margin: 10px; /* Márgenes externos */
}

.left-side {
  flex: 2; /* Flexibilidad para ocupar 2 partes */
  margin-right: 20px; /* Margen a la derecha */
  display: flex; /* Uso de flexbox */
  flex-direction: column; /* Direccionamiento vertical */
  justify-content: space-between; /* Espacio entre elementos */
}

.right-side {
  flex: 3; /* Flexibilidad para ocupar 3 partes */
  display: flex; /* Uso de flexbox */
  flex-direction: column; /* Direccionamiento vertical */
  justify-content: flex-start; /* Alineación al inicio */
}

.title-container {
  display: flex; /* Uso de flexbox */
  align-items: center; /* Alineación centrada verticalmente */
  justify-content: center; /* Alineación centrada horizontalmente */
  margin-bottom: 10px; /* Margen inferior */
}

.city-title {
  font-size: 1.8em; /* Tamaño de fuente grande */
  color: #000; /* Texto negro */
  font-weight: 300; /* Peso de fuente */
  margin-left: 10px; /* Margen a la izquierda */
}

.location-icon {
  height: 30px; /* Altura de la imagen */
}

.air-quality-title {
  text-align: center; /* Texto centrado */
  font-size: 1.8em; /* Tamaño de fuente grande */
  margin-bottom: 15px; /* Margen inferior */
  color: #000; /* Texto negro */
}

.description {
  font-size: 1.1em; /* Tamaño de fuente */
  margin-bottom: 20px; /* Margen inferior */
}

.map-container {
  margin-bottom: 10px; /* Margen inferior */
  height: 350px; /* Altura del mapa */
}

.city-info {
  font-size: 1em; /* Tamaño de fuente */
  margin-bottom: 20px; /* Margen inferior */
}

.faq {
  font-size: 1.1em; /* Tamaño de fuente */
  color: #000; /* Texto negro */
  text-align: center; /* Texto centrado */
}

.info-cards-container {
  display: flex; /* Uso de flexbox */
  justify-content: space-between; /* Espacio entre elementos */
  margin-bottom: 10px; /* Reducir el margen inferior */
}

.info-card-container {
  flex: 1; /* Flexibilidad para ocupar espacio */
  margin: 0 10px; /* Márgenes laterales */
  text-align: center; /* Texto centrado */
}

.info-card {
  background-color: #ff0; /* Fondo amarillo */
  color: #000; /* Texto negro */
  padding: 15px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
}

.pm25-card {
  background-color: inherit; /* Permitir cambio de color dinámico */
}

.info-card h3 {
  margin-bottom: 10px; /* Margen inferior */
  font-size: 1.1em; /* Tamaño de fuente */
  border-bottom: 2px solid #111111; /* Borde inferior */
  display: inline-block; /* Bloque en línea */
  padding-bottom: 5px; /* Espaciado interno inferior */
}

.info-card p {
  font-size: 1.3em; /* Tamaño de fuente */
  margin: 0; /* Sin margen */
}

.chart-info-container {
  display: flex; /* Uso de flexbox */
  justify-content: space-between; /* Espacio entre elementos */
  align-items: flex-start; /* Alineación al inicio */
  margin-top: 0px; /* Reducir el margen superior */
}

.chart-title-container, .date-picker-container {
  flex: 1; /* Flexibilidad para ocupar espacio */
  display: flex; /* Uso de flexbox */
  flex-direction: column; /* Direccionamiento vertical */
  align-items: center; /* Alineación centrada */
  margin: 0 10px; /* Márgenes laterales */
}

.chart-title {
  text-align: center; /* Texto centrado */
  margin-bottom: 10px; /* Margen inferior */
  color: #000; /* Texto negro */
}

.chart-container {
  width: 100%; /* Ancho completo */
  background-color: #ffffff; /* Fondo blanco */
  padding: 15px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  margin-bottom: 10px; /* Margen inferior */
}

.chart-container-large {
  width: 95%; /* Ancho completo */
  background-color: #ffffff; /* Fondo blanco */
  padding: 15px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  margin-bottom: 10px; /* Margen inferior */
}

.chart-and-scale-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.chart-container {
  width: 65%; /* Tamaño ajustado */
  margin-right: 10px; /* Margen derecho */
}

.scale-container {
  width: 35%; /* Tamaño ajustado */
  background-color: #9fcde6; /* Fondo azul */
  color: #000; /* Texto negro */
  padding: 15px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
}

.scale-title {
  text-align: center; /* Texto centrado */
  margin-bottom: 10px; /* Margen inferior */
}

.scale-item {
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  margin-bottom: 10px; /* Margen inferior */
}

.scale-item p {
  margin: 0; /* Sin margen */
}

.date-picker-container {
  margin-top: 0px; /* Subir el calendario */
}

.forecast-container {
  background-color: #222; /* Fondo gris oscuro */
  padding: 15px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  margin-top: 20px; /* Margen superior */
}

.quality-title {
  color: #ff0; /* Texto amarillo */
  margin-bottom: 10px; /* Margen inferior */
}

ul {
  list-style-type: none; /* Sin viñetas */
  padding: 0; /* Sin relleno */
}

ul li {
  margin-bottom: 5px; /* Margen inferior */
}

.social-media-footer {
  display: flex; /* Uso de flexbox */
  justify-content: center; /* Alineación centrada */
  margin-top: 20px; /* Margen superior */
}

.social-icon {
  color: #fff; /* Iconos blancos */
  font-size: 1.8em; /* Tamaño de fuente grande */
  margin: 0 15px; /* Márgenes laterales */
}

.forecast-day button {
  background-color: #ff0; /* Fondo amarillo */
  color: #000; /* Texto negro */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cursor de mano */
  margin-top: 10px; /* Margen superior */
}

/* Modal styles */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  box-shadow: 0 5px 15px rgb(255, 255, 255);
  color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

/* Additional info styles */
.additional-info {
  margin-top: 40px;
  padding: 20px;
  background-color: #9fcde6; /* Fondo azul */
  color: #000; /* Texto negro */
  border-radius: 10px; /* Bordes redondeados */
}

.additional-info-title {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 20px;
}

.additional-info-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.additional-info-item {
  background-color: #ffffff; /* Fondo gris oscuro */
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  flex: 1 1 45%;
  margin: 10px;
  padding: 15px;
}

.additional-info-item h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.additional-info-item p {
  font-size: 1em;
}

.additional-info-image {
  width: 100%;
  max-width: 300px; /* Ancho máximo */
  height: auto;
  margin-bottom: 10px;
}

/* Blog section styles */
.blog-section {
  margin-top: 40px;
  color: #fff;
}

.blog-title {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 20px;
}

.blog-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-post {
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  flex: 1 1 30%;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.blog-image {
  width: 100%;
  height: auto;
}

.blog-content {
  padding: 15px;
}

.blog-post-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.blog-post-content {
  font-size: 1em;
}

button {
  background-color: #ff0;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
