body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #000;
  border-bottom: 2px solid #fff; /* Hacer la línea divisoria más gruesa */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}

.logo-text span:first-child {
  font-weight: bold;
}

.nav {
  display: flex;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.2em;
  position: relative;
}

.nav-link:hover {
  color: #ff0;
}

.nav-link.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ff0;
  bottom: -5px;
  left: 0;
}

.login-button {
  background-color: #ff0;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 20px;
}

.main-content {
  padding: 20px;
}
